.pageheading {
	text-align: center;
	margin:30px;
}

.imagec{
	display:block;
	position:relative;
	margin:auto;
	padding-top: : 20px;
	text-align: center;
}

.para{
	margin:50px;
	font-size: 30px;
}
